#background {
    height: 950px;
    width: 100%;
    border: solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header {
    align-content: center;
    justify-content: center;
    
}

#main {
    height:90%;
    width:90%;
    border: solid red;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    opacity: 1;
}

.block {
    display: block;
    height: 80px;
    width: 80px;
    border: solid blue;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 1;
  }